@model Inspinia_MVC5_SeedProject.ViewModels.PendienteComunitaria

@{
    ViewBag.Title = "Pendiente comunitaria";
}

<link rel="stylesheet" href="~/TextEditorContents/jquery-te-1.4.0.css">
<script src="~/TextEditorContents/jquery-te-1.4.0.min.js"></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://demo.codeforgeek.com/jquery-te-1.4.0.min.js"></script>

<div id="modalCerrar" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cerrar tarea<span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails">Asignar tiempo de trabajo</p><br />
                <div class="form-group">

                    @*<div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-white bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input class="touchspin1 form-control" placeholder="Tiempo trabajado en minutos" id="minutos" type="number" value="" name="demo1" style="display: block"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none"></span><span class="input-group-btn"><button class="btn btn-white bootstrap-touchspin-up" type="button">+</button></span></div>*@

                </div>


            </div>
            <div class="modal-body">
                <button type="button" id="cerrar" class="btn btn-success">Cerrar tarea</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>

</div>

<div id="aportarModal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aportar a la tarea<span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                @*<p id="pDetails">Asignar tiempo de trabajo</p><br />*@
                <div class="">

                    <input id="mensajeAporte" name="mensajeAporte" type="text" value="" class="form-control titulo" placeholder="¿En qué aportaste?" />
                    <br />
                    <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-white bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input class="touchspin1 form-control" placeholder="Tiempo trabajado en minutos" id="minutosaportados" type="number" value="" name="demo1" style="display: block"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none"></span><span class="input-group-btn"><button class="btn btn-white bootstrap-touchspin-up" type="button">+</button></span></div>


                </div>


            </div>
            <div class="modal-body">
                <button type="button" id="enviarAporte" class="btn btn-success">Enviar aporte</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-lg-12">

        <div class="ibox chat-view">

            <div class="ibox-title row">
                <small class="float-right text-muted">@Model.PendientesMesa.Titulo</small>
                <button class="btn btn-succes" id="cerrarTarea">Cerrar</button>
                <button class="btn btn-succes" id="aportar">Aportar</button>
                @*<button class="btn btn-succes" id="aportes">Ver aportes</button>*@

                <div class="row">




                    <div class="col-md-9 ">
                        <div class="chat-discussion">

                            @foreach (var mensaje in Model.ListaMensajes)
                            {

                                <div class="chat-message right">
                                    <img class="message-avatar" src="~/Content/chatimage.png" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> @mensaje.Usuario.Nombre </a>
                                        <span class="message-date"> @mensaje.FechaCreado </span>

                                        <span class="message-content">
                                            @*@mensaje.Mensaje*@
                                            @Html.Raw(@mensaje.Mensaje)
                                        </span>
                                    </div>
                                </div>

                            }


                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="chat-users">


                            <div class="users-list">
                                <div class="chat-user">
                                    <img class="chat-avatar" src="~/Content/repair.png">
                                    <div class="chat-user-name">
                                        <a href="#">@Model.PendientesMesa.Titulo</a>

                                    </div>
                                </div>
                                <div class="chat-user-name">

                                    @*<a href="#">@Model.Issue.Descripcion</a>*@

                                    @Html.Raw(Model.PendientesMesa.Descripcion)




                                </div>


                                <div class="chat-user-name">
                                    <a href="#">De : @Model.PendientesMesa.Clientes.Nombre</a>

                                </div>
                                <div class="chat-user-name">
                                    <a href="#">Creada por : @Model.PendientesMesa.CreadaPor.Nombre el @Model.PendientesMesa.FechaCreada</a>
                                    @if (Model.PendientesMesa.TiempoDedicado != null)
                                    {
                                        <a href="#">Dedicado : @Model.PendientesMesa.TiempoDedicado minutos</a>
                                    }

                                </div>

                                <a></a>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="chat-message-form">

                            <form id="nuevoMensaje">

                                <textarea required type="text" placeholder="Mensaje" id="mensaje" class="form-control"></textarea>
                                <button class="btn btn-primary">Enviar</button>
                            </form>

                        </div>
                    </div>
                </div>
                <br />


            </div>

        </div>
    </div>

</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#mensaje").jqte();

            $("#aportar").click(function () {
                $("#aportarModal").modal();

            });
            $("#cerrarTarea").click(function () {
                    bootbox.confirm("¿Seguro querés cerrar esta tarea?seguro seguro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/PendientesComunitariasApi/" + @Model.PendientesMesa.Id,
                            method: "DELETE",
                            success: function () {
                                location.reload();
                            }
                        });
                    }
                });
            });






            $("#nuevoMensaje").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/MensajesComunitariasApi",
                        method: "Post",
                        data: {
                            Mensaje: $('#mensaje').val(),
                            IssueId : @Model.PendientesMesa.Id,



                        }




                    })
                                     .done(function () {
                                         toastr.success("Mensaje agregado al historial de la tarea");
                                         location.reload();
                                         validator.resetForm();
                                     })
                                    .fail(function () {
                                        toastr.error("Algo falló, por favor intenta nuevamente");

                                    })
                }
            });

            //});

            $("#enviarAporte").click(function() {
                var button = $(this);
                        $.ajax({
                            url: "/api/PendientesComunitariasApi",
                            method: "Patch",
                            data: {
                                stringGenerico: $("#mensajeAporte").val(),
                                Nombre: $("#minutosaportados").val(),
                                IssueId : @Model.PendientesMesa.Id,

                            },
                            success: function () {

                                toastr.info("Tarea Finalizada correctamente :)");
                                location.reload();

                            }
                        });

            });

        });
    </script>
}




